// .top_buttons {
//   padding-left: 2em;
//   padding-right: 2em;
//   margin-right: 2px;
// }

.btn-primary {
  padding-left: 4em;
  padding-right: 4em;
  margin-right: 2px;
}

.btn-outline-primary {
  padding-left: 2em;
  padding-right: 2em;
  margin-right: 1px;
}

.choose-product {
  margin-top: 10%;
  margin-left: -10%;
  justify-content: center;
}

.btn-danger {
  padding-left: 3em;
  padding-right: 3em;
  margin-right: 1em;
}

.btn-success {
  padding-left: 3em;
  padding-right: 3em;
}

.btn-warning {
  margin-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
}
